# Introduction
This assignment will test how well you're able to perform various data science-related tasks.

Each Problem Group below will center around a particular dataset that you have worked with before.

To ensure you receive full credit for a question, make sure you demonstrate the appropriate pandas, altair, or other commands as requested in the provided code blocks.

You may find that some questions require multiple steps to fully answer. Others require some mental arithmetic in addition to pandas commands. Use your best judgment.

## Submission
Each problem group asks a series of questions. This assignment consists of two submissions:

1. After completing the questions below, open the Module 01 Assessment Quiz in Canvas and enter your answers to these questions there.

2. After completing and submitting the quiz, save this Colab notebook as a GitHub Gist (You'll need to create a GitHub account for this), by selecting `Save a copy as a GitHub Gist` from the `File` menu above.

    In Canvas, open the Module 01 Assessment GitHub Gist assignment and paste the GitHub Gist URL for this notebook. Then submit that assignment.

## Problem Group 1

For the questions in this group, you'll work with the Netflix Movies Dataset found at this url: [https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/netflix_titles.csv](https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/netflix_titles.csv)

### Question 1
Load the dataset into a Pandas data frame and determine what data type is used to store the `release_year` feature.

In [2]:
import pandas as pd
netflix = pd.read_csv("https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/netflix_titles.csv")
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

In [4]:
netflix.head(20)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
5,80163890,TV Show,Apaches,NaN,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,"September 8, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...
6,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...
8,80117902,TV Show,Fire Chasers,NaN,NaN,United States,"September 8, 2017",2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ..."
9,70304990,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden","September 8, 2017",2014,R,90 min,"Action & Adventure, Thrillers",A struggling couple can't believe their luck w...
10,80169755,Movie,Joaquín Reyes: Una y no más,José Miguel Contreras,Joaquín Reyes,NaN,"September 8, 2017",2017,TV-MA,78 min,Stand-Up Comedy,Comedian and celebrity impersonator Joaquín Re...
11,70299204,Movie,Kidnapping Mr. Heineken,Daniel Alfredson,"Jim Sturgess, Sam Worthington, Ryan Kwanten, A...","Netherlands, Belgium, United Kingdom, United S...","September 8, 2017",2015,R,95 min,"Action & Adventure, Dramas, International Movies","When beer magnate Alfred ""Freddy"" Heineken is ..."
12,80182480,Movie,Krish Trish and Baltiboy,NaN,"Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2009,TV-Y7,58 min,Children & Family Movies,"A team of minstrels, including a monkey, cat a..."
13,80182483,Movie,Krish Trish and Baltiboy: Battle of Wits,"Munjal Shroff, Tilak Shetty","Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2013,TV-Y7,62 min,Children & Family Movies,"An artisan is cheated of his payment, a lion o..."
14,80182596,Movie,Krish Trish and Baltiboy: Best Friends Forever,"Munjal Shroff, Tilak Shetty","Damandeep Singh Baggan, Smita Malhotra, Deepak...",NaN,"September 8, 2017",2016,TV-Y,65 min,Children & Family Movies,"A cat, monkey and donkey team up to narrate fo..."
15,80182482,Movie,Krish Trish and Baltiboy: Comics of India,Tilak Shetty,"Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2012,TV-Y7,61 min,Children & Family Movies,"In three comic-strip-style tales, a boy tries ..."
16,80182597,Movie,Krish Trish and Baltiboy: Oversmartness Never ...,Tilak Shetty,"Rishi Gambhir, Smita Malhotra, Deepak Chachra",NaN,"September 8, 2017",2017,TV-Y7,65 min,Children & Family Movies,"A cat, monkey and donkey learn the consequence..."
17,80182481,Movie,Krish Trish and Baltiboy: Part II,NaN,"Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2010,TV-Y7,58 min,Children & Family Movies,Animal minstrels narrate stories about a monke...
18,80182621,Movie,Krish Trish and Baltiboy: The Greatest Trick,"Munjal Shroff, Tilak Shetty","Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2013,TV-Y7,60 min,Children & Family Movies,The consequences of trickery are explored in s...
19,80057969,Movie,Love,Gaspar Noé,"Karl Glusman, Klara Kristin, Aomi Muyock, Ugo ...","France, Belgium","September 8, 2017",2015,NR,135 min,"Cult Movies, Dramas, Independent Movies",A man in an unsatisfying marriage recalls the ...

### Question 2
Filter your dataset so it contains only `TV Shows`. How many of those TV Shows were rated `TV-Y7`?

In [8]:
tvy7_shows = netflix[netflix["rating"] == "TV-Y7"]
tvy7_shows.head(20)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
12,80182480,Movie,Krish Trish and Baltiboy,NaN,"Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2009,TV-Y7,58 min,Children & Family Movies,"A team of minstrels, including a monkey, cat a..."
13,80182483,Movie,Krish Trish and Baltiboy: Battle of Wits,"Munjal Shroff, Tilak Shetty","Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2013,TV-Y7,62 min,Children & Family Movies,"An artisan is cheated of his payment, a lion o..."
15,80182482,Movie,Krish Trish and Baltiboy: Comics of India,Tilak Shetty,"Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2012,TV-Y7,61 min,Children & Family Movies,"In three comic-strip-style tales, a boy tries ..."
16,80182597,Movie,Krish Trish and Baltiboy: Oversmartness Never ...,Tilak Shetty,"Rishi Gambhir, Smita Malhotra, Deepak Chachra",NaN,"September 8, 2017",2017,TV-Y7,65 min,Children & Family Movies,"A cat, monkey and donkey learn the consequence..."
17,80182481,Movie,Krish Trish and Baltiboy: Part II,NaN,"Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2010,TV-Y7,58 min,Children & Family Movies,Animal minstrels narrate stories about a monke...
18,80182621,Movie,Krish Trish and Baltiboy: The Greatest Trick,"Munjal Shroff, Tilak Shetty","Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2013,TV-Y7,60 min,Children & Family Movies,The consequences of trickery are explored in s...
34,80221550,TV Show,Archibald's Next Big Thing,NaN,"Tony Hale, Rosamund Pike, Jordan Fisher, Chels...",NaN,"September 6, 2019",2019,TV-Y7,1 Season,"Kids' TV, TV Comedies",Happy-go-lucky chicken Archibald may not remem...
64,80239337,TV Show,Ben 10,NaN,"Tara Strong, Montse Hernandez, David Kaye, Rog...",United States,"September 30, 2018",2016,TV-Y7,1 Season,Kids' TV,Ben can transform into ten types of aliens. He...
70,80116921,TV Show,We Bare Bears,NaN,"Eric Edelstein, Demetri Martin, Bobby Moynihan",United States,"September 30, 2018",2017,TV-Y7,1 Season,"Kids' TV, TV Comedies","Grizzly, Panda and Ice Bear are three adopted ..."
85,80019931,Movie,"Monster High: Boo York, Boo York",William Lau,"Karen Strassman, Celeste Henderson, Wendee Lee...",United States,"September 29, 2015",2015,TV-Y7,72 min,"Children & Family Movies, Music & Musicals",Cleo is invited to a gala in the big city cele...
149,80115346,TV Show,Hilda,NaN,"Bella Ramsey, Ameerah Falzon-Ojo, Oliver Nelso...","United Kingdom, Canada, United States","September 21, 2018",2018,TV-Y7,1 Season,Kids' TV,"Fearless, free-spirited Hilda finds new friend..."
180,70259208,TV Show,Transformers: Rescue Bots,NaN,"Lacey Chabert, Elan Garfias, Maurice LaMarche,...","Canada, United States","September 19, 2018",2016,TV-Y7,1 Season,Kids' TV,Follow the adventure of four young transformer...
329,81154956,TV Show,Transformers: Cyberverse,NaN,"Sophia Isabella, Jeremy Levy, Jacob Tillman, R...",NaN,"September 1, 2019",2018,TV-Y7,1 Season,Kids' TV,Optimus Prime and the AllSpark are missing – a...
375,80105933,TV Show,LEGO Elves: Secrets of Elvendale,NaN,"Ashleigh Ball, Erin Mathews, Rebecca Husain, K...",United States,"September 1, 2017",2017,TV-Y7,1 Season,Kids' TV,"Armed with a powerful amulet, a teenage guardi..."
406,80118841,Movie,Figaro Pho,Luke Jurevicius,Luke Jurevicius,United Kingdom,"September 1, 2016",2008,TV-Y7,29 min,"Children & Family Movies, Comedies",Quirky little Figaro has a whole alphabet's wo...
428,81021976,Movie,The Spooky Tale of Captain Underpants Hack-a-ween,NaN,"Nat Faxon, Jay Gragnani, Ramone Hamilton, Sean...",United States,"October 8, 2019",2019,TV-Y7,46 min,"Children & Family Movies, Comedies","When Melvin tries to cancel Halloween, clever ..."
442,80215730,TV Show,Legend Quest: Masters of Myth,NaN,"Johnny Rose, Annemarie Blanco, Paul Tei, Oscar...",Mexico,"October 5, 2019",2019,TV-Y7,1 Season,Kids' TV,"When mythical creatures come to life, it's up ..."
464,80141858,Movie,LEGO Jurassic World: The Indominus Escape,Michael D. Black,"A.J. LoCascio, Sendhil Ramamurthy, Fred Tatasc...",United States,"October 4, 2016",2016,TV-Y7,25 min,"Children & Family Movies, Comedies",The scientists of Jurassic World create a capt...
621,80995687,Movie,Little Singham: Kaal Ki Tabaahi,Prakash Satam,NaN,NaN,"October 19, 2019",2019,TV-Y7,66 min,"Children & Family Movies, Comedies",Kaal is back – bigger and badder than ever! Ca...

### Question 3
Further filter your dataset so it only contains TV Shows released between the years 2000 and 2009 inclusive. How many of *those* shows were rated `TV-Y7`?

In [11]:
tvy7_2000s = tvy7_shows[(tvy7_shows["release_year"] >= 2000) & (tvy7_shows["release_year"] <= 2009)]
tvy7_2000s.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
12,80182480,Movie,Krish Trish and Baltiboy,NaN,"Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2009,TV-Y7,58 min,Children & Family Movies,"A team of minstrels, including a monkey, cat a..."
406,80118841,Movie,Figaro Pho,Luke Jurevicius,Luke Jurevicius,United Kingdom,"September 1, 2016",2008,TV-Y7,29 min,"Children & Family Movies, Comedies",Quirky little Figaro has a whole alphabet's wo...
2346,70048905,Movie,Iqbal,Nagesh Kukunoor,"Shreyas Talpade, Naseeruddin Shah, Girish Karn...",India,"March 1, 2018",2006,TV-Y7,127 min,"Dramas, Independent Movies, International Movies",A boy with a hearing and speech impairment – a...
3514,70081015,Movie,Garfield Gets Real,"Mark A.Z. Dippé, Kyung Ho Lee","Frank Welker, Wally Wingert, Gregg Berger, Jen...",NaN,"January 1, 2020",2007,TV-Y7,78 min,"Children & Family Movies, Comedies","After trying to live in the ""real world"" and c..."
3515,70100448,Movie,Garfield's Fun Fest,"Mark A.Z. Dippé, Eondeok Han","Frank Welker, Tim Conway, Gregg Berger, Wally ...","United States, South Korea","January 1, 2020",2008,TV-Y7,79 min,"Children & Family Movies, Comedies",Garfield has long been the champ at a yearly c...

## Problem Group 2

For the questions in this group, you'll work with the Cereal Dataset found at this url: [https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/cereal.csv](https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/cereal.csv)

### Question 4
After importing the dataset into a pandas data frame, determine the median amount of `protein` in cereal brands manufactured by Kelloggs. (`mfr` code "K")

In [23]:
import pandas as pd
cereal = pd.read_csv("https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/cereal.csv")
kelloggs  = cereal[cereal["mfr"] == "K"]
kelloggs["protein"].median()

3.0

In [25]:
kelloggs.head(20)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
6,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
16,Corn Flakes,K,C,100,2,0,290,1.0,21.0,2,35,25,1,1.00,1.00,45.863324
17,Corn Pops,K,C,110,1,0,90,1.0,13.0,12,20,25,2,1.00,1.00,35.782791
19,Cracklin' Oat Bran,K,C,110,3,3,140,4.0,10.0,7,160,25,3,1.00,0.50,40.448772
21,Crispix,K,C,110,2,0,220,1.0,21.0,3,30,25,3,1.00,1.00,46.895644
24,Froot Loops,K,C,110,2,1,125,1.0,11.0,13,30,25,2,1.00,1.00,32.207582
25,Frosted Flakes,K,C,110,1,0,200,1.0,14.0,11,25,25,1,1.00,0.75,31.435973
26,Frosted Mini-Wheats,K,C,100,3,0,0,3.0,14.0,7,100,25,2,1.00,0.80,58.345141
28,Fruitful Bran,K,C,120,3,0,240,5.0,14.0,12,190,25,3,1.33,0.67,41.015492
38,Just Right Crunchy Nuggets,K,C,110,2,1,170,1.0,17.0,6,60,100,3,1.00,1.00,36.523683
39,Just Right Fruit & Nut,K,C,140,3,1,170,2.0,20.0,9,95,100,3,1.30,0.75,36.471512
46,Mueslix Crispy Blend,K,C,160,3,2,150,3.0,17.0,13,160,25,3,1.50,0.67,30.313351
48,Nut&Honey Crunch,K,C,120,2,1,190,0.0,15.0,9,40,25,2,1.00,0.67,29.924285
49,Nutri-Grain Almond-Raisin,K,C,140,3,2,220,3.0,21.0,7,130,25,3,1.33,0.67,40.692320
50,Nutri-grain Wheat,K,C,90,3,0,170,3.0,18.0,2,90,25,3,1.00,1.00,59.642837
53,Product 19,K,C,100,3,0,320,1.0,20.0,3,45,100,3,1.00,1.00,41.503540
58,Raisin Bran,K,C,120,3,1,210,5.0,14.0,12,240,25,2,1.33,0.75,39.259197
60,Raisin Squares,K,C,90,2,0,0,2.0,15.0,6,110,25,3,1.00,0.50,55.333142

### Question 5
In order to comply with new government regulations, all cereals must now come with a "Healthiness" rating. This rating is calculated based on this formula:

    healthiness = (protein + fiber) / sugar

Create a new `healthiness` column populated with values based on the above formula.

Then, determine the median healthiness value for only General Mills cereals (`mfr` = "G"), rounded to two decimal places.

In [30]:
cereal["healthiness"] = ((cereal["protein"] + cereal["fiber"]) / cereal["sugars"])
median_healthiness = cereal["healthiness"].median()
rounded_median = round(median_healthiness, 2)
print(rounded_median)

0.67

## Problem Group 3

For the questions in this group, you'll work with the Titanic Dataset found at this url: [https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/titanic.csv](https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/titanic.csv)

### Question 6

After loading the dataset into a pandas DataFrame, create a new column called `NameGroup` that contains the first letter of the passenger's surname in lower case.

Note that in the dataset, passenger's names are provided in the `Name` column and are listed as:

    Surname, Given names

For example, if a passenger's `Name` is `Braund, Mr. Owen Harris`, the `NameGroup` column should contain the value `b`.

Then count how many passengers have a `NameGroup` value of `k`.

In [35]:
titanic = pd.read_csv("https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/titanic.csv")
titanic["NameGroup"] = titanic["Name"].str[0].str.lower()
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,NameGroup
0,1,No,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,b
1,2,Yes,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,c
2,3,Yes,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,h
3,4,Yes,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,f
4,5,No,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,a

In [36]:
k_passengers = titanic["NameGroup"].value_counts()["k"]
print(k_passengers)

28